flows.json
[{"id":"356fcd2f.6fb592","type":"tab","label":"Predicting Life Expectancy Without Python","disabled":false,"info":""},{"id":"1c2628d3.0fad77","type":"function","z":"356fcd2f.6fb592","name":"pre token","func":"global.set('country', msg.payload.country);\nglobal.set('year', msg.payload.year);\nglobal.set('status', msg.payload.stat);\nglobal.set('am', msg.payload.am);\nglobal.set('ufd', msg.payload.ufd);\nglobal.set('idr', msg.payload.idr);\nglobal.set('hepb', msg.payload.hepb);\nglobal.set('mesls', msg.payload.mesls);\nglobal.set('polio', msg.payload.polio);\nglobal.set('dipt', msg.payload.dipt);\nglobal.set('hiv', msg.payload.hiv);\nglobal.set('popn', msg.payload.popn);\nglobal.set('bmi', msg.payload.bmi);\nglobal.set('thin5', msg.payload.thin5);\nglobal.set('thin10', msg.payload.thin10);\nglobal.set('scl', msg.payload.scl);\nglobal.set('alc', msg.payload.alc);\nglobal.set('gdp', msg.payload.gdp);\nglobal.set('perexp', msg.payload.perexp);\nglobal.set('totexp', msg.payload.totexp);\nglobal.set('icr', msg.payload.icr);\n\n\n\n\n\n//following are required to receive a token\nvar apikey=\"j8ShAS_2esqevTx7EvUgowFLHLlkvsOhpfNVId2XwDwb\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"x":200,"y":380,"wires":[["2095b8e5.e98168"]]},{"id":"180f4a94.e90435","type":"http request","z":"356fcd2f.6fb592","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/50b7eceb-2268-4922-8489-f7f9a801b644/predictions","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":280,"wires":[["728efeef.25065","ba16e537.8b50b8"]]},{"id":"1dca7c34.a86e44","type":"debug","z":"356fcd2f.6fb592","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1010,"y":400,"wires":[]},{"id":"728efeef.25065","type":"function","z":"356fcd2f.6fb592","name":"getFrom Endpoint","func":"msg.payload = msg.payload.predictions[0].values[0][0]+' years';\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":460,"wires":[["1dca7c34.a86e44","6f58acdf.3788a4"]]},{"id":"2095b8e5.e98168","type":"http request","z":"356fcd2f.6fb592","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":320,"wires":[["5c2e4d83.471814"]]},{"id":"6f58acdf.3788a4","type":"ui_text","z":"356fcd2f.6fb592","group":"e358087e.b44258","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":1000,"y":520,"wires":[]},{"id":"5c2e4d83.471814","type":"function","z":"356fcd2f.6fb592","name":"sendTo Endpoint","func":"var country=global.get('country');\nvar year=global.get('year');\nvar stat=global.get('stat');\nvar am=global.get('am');\nvar ufd=global.get('ufd');\nvar idr=global.get('idr');\nvar hepb=global.get('hepb');\nvar mesls=global.get('mesls');\nvar polio=global.get('polio');\nvar dipt=global.get('dipt');\nvar hiv=global.get('hiv');\nvar popn=global.get('popn');\nvar bmi=global.get('bmi');\nvar thin5=global.get('thin5');\nvar thin10=global.get('thin10');\nvar scl=global.get('scl');\nvar alc=global.get('alc');\nvar gdp=global.get('gdp');\nvar perexp=global.get('perexp');\nvar totexp=global.get('totexp');\nvar icr=global.get('icr');\nvar token=msg.payload.access_token;\nvar instance_id=\"b79d237d-5fa7-4286-b0bf-9049559d3930\"\nmsg.headers = {\n    \"Content-type\":'application/json',\n    \"Authorization\": 'Bearer'+token,\n    \"ML-Instance-ID\": instance_id\n}\nmsg.payload = {\n    \"input_data\": [{\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"], \n    \"values\": [[country, year, stat, am, idr, alc, perexp, hepb, mesls, bmi, ufd, polio, totexp, dipt, hiv, gdp, popn, thin10, thin5, icr, scl]]}]\n}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":200,"wires":[["180f4a94.e90435"]]},{"id":"ba16e537.8b50b8","type":"debug","z":"356fcd2f.6fb592","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":120,"wires":[]},{"id":"7400ae76.68a6d","type":"ui_form","z":"356fcd2f.6fb592","name":"","label":"","group":"e358087e.b44258","order":1,"width":0,"height":0,"options":[{"label":"Country","value":"country","type":"text","required":false,"rows":null},{"label":"Year","value":"year","type":"number","required":false,"rows":null},{"label":"Status","value":"stat","type":"text","required":false,"rows":null},{"label":"Adult Mortality","value":"am","type":"number","required":true,"rows":null},{"label":"Under-five Deaths","value":"ufd","type":"number","required":true,"rows":null},{"label":"Infant Deaths","value":"idr","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"hepb","type":"number","required":true,"rows":null},{"label":"Measles","value":"mesls","type":"number","required":true,"rows":null},{"label":"Diptheria","value":"dipt","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"hiv","type":"number","required":true,"rows":null},{"label":"Polio","value":"polio","type":"number","required":true,"rows":null},{"label":"Population","value":"popn","type":"number","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"Thinness 5-9 years","value":"thin5","type":"number","required":true,"rows":null},{"label":"Thinness 10-19 years","value":"thin10","type":"number","required":true,"rows":null},{"label":"Schooling","value":"scl","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"alc","type":"number","required":true,"rows":null},{"label":"GDP","value":"gdp","type":"number","required":true,"rows":null},{"label":"Percentage Expenditure","value":"perexp","type":"number","required":true,"rows":null},{"label":"Total Expenditure","value":"totexp","type":"number","required":true,"rows":null},{"label":"Income Composition of Resources","value":"icr","type":"number","required":true,"rows":null}],"formValue":{"country":"","year":"","stat":"","am":"","ufd":"","idr":"","hepb":"","mesls":"","dipt":"","hiv":"","polio":"","popn":"","bmi":"","thin5":"","thin10":"","scl":"","alc":"","gdp":"","perexp":"","totexp":"","icr":""},"payload":"","submit":"Predict","cancel":"Reset","topic":"","x":110,"y":260,"wires":[["1c2628d3.0fad77"]]},{"id":"e358087e.b44258","type":"ui_group","z":"","name":"IBM AutoAI Model","tab":"2f9a6cd4.bf9a74","order":1,"disp":true,"width":"6","collapse":false},{"id":"2f9a6cd4.bf9a74","type":"ui_tab","z":"","name":"Life Expectancy Prediction","icon":"dashboard","disabled":false,"hidden":false}]